@using Microsoft.AspNetCore.Identity;


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="/lib/lightbox2/dist/css/lightbox.min.css">
    <script src="/lib/lightbox2/dist/js/lightbox-plus-jquery.min.js" defer></script>
    <script src="https://kit.fontawesome.com/95a02bd20d.js" defer></script>
    <title>DescompliCase</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light bg-opacity-25 border-bottom border-danger border-3 border-opacity-10">
        <div class="container">
            <a class="navbar-brand" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only" asp-controller="Home" asp-action="Index"><i class="bi-heart text-danger mx-1"></i>DESCOMPLI<span class="text-danger">CASE</span></a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-center text-center" id="navMenu">
                <ul class="navbar-nav mt-lg-0">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item my-3">
                            <a class="nav-link text-info border border-1 border-info border-opacity-50 me-1" asp-controller="Categoria" asp-action="Index">Categorias</a>
                        </li>
                        <li class="nav-item  my-3">
                            <a class="nav-link text-info border border-1 border-info border-opacity-50 me-1" asp-controller="Fornecedor" asp-action="Index">Fornecedores</a>
                        </li>
                        <li class="nav-item  my-3">
                            <a class="nav-link text-info border border-1 border-info border-opacity-50" asp-controller="Orcamento" asp-action="Index">Orçamento</a>
                        </li>

                        @if (User.IsInRole("admin"))
                        {
                            <a asp-controller="Usuario" asp-action="Index" class="nav-link link-dark my-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi-house-gear h2 text-warning"></i>
                        </a>
                        }

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle link-dark my-1 text-primary" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-person-circle h2 text-primary"></i></a>
                            <ul class="dropdown-menu">
                                <p class="dropdown-header text-info"><b>@User.Identity.Name</b></p>
                                <li>
                                    <a asp-action="Alterar" asp-controller="Usuario" class="dropdown-item">Perfil</a>
                                </li>
                                <li>
                                    <a asp-controller="Usuario" asp-action="AlterarSenha" class="dropdown-item">Alterar Senha</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Sair</a>
                                </li>
                            </ul>
                        </div>
                        <a asp-controller="Home" asp-action="Index" class="nav-link link-dark my-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi-house h2 text-danger opacity-10"></i>
                        </a>

                    }
                    else
                    {
                        <li class="nav-item mx-2 my-2">
                            <button class="btn btn-info rounded-5 opacity-50 px-3 py-1 shadow"><a class="nav-link link-light" asp-controller="Home" asp-action="Cadastrar"><b>Cadastre-se</b></a></button>
                        </li>
                        <li class="nav-item mx-2 my-2">
                            <button class="btn btn-outline-info rounded-5 px-4 py-1 shadow"><a class="nav-link link-info" asp-controller="Home" asp-action="Login">Entrar</a></button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>

    <div class="col-12" style="height: 80vh;"></div>

    <footer class="col-12 text-center bg-danger bg-opacity-75 p-2">
        <div class="container mt-4">
            <p class="text-light">
                Copyright DescompliCase &copy; @DateTime.Now.Year<br>
                Todos os direitos reservados</p>
        </div>
    </footer>
</body>


</html>
