@model FornecedorModel

<div class="container p-3" style="height: 100vh">
    <h2 class="text-danger">Exclus찾o de Fornecedor</h2>
    <hr>
    <p class="lead"><b>C처digo</b>: @Model.Id</p>
    <p class="lead"><b>Nome</b>: @Model.Nome</p>
    <p class="col-4 lead text-bg-danger">Deseja realmente excluir o fornecedor <span class="text-info">@Model.Nome</span>?</p>
    <form method="post" asp-action="ProcessarExclusao">
        <input type="hidden" asp-for="@Model.Id">
        <p class="">
            <a asp-action="Index" class="btn btn-sm btn-secondary">N찾o</a>
            <input type="submit" class="btn btn-sm btn-danger" value="Confirmar Exclus찾o">
        </p>
    </form>
</div>

