@model IEnumerable<OrcamentoModel>

<div class="container p-3">
    <h2 class="text-danger opacity-50 text-center">Realizar Orçamento</h2>
    <div class="mt-3">
        <a asp-action="Cadastrar" class="btn btn-sm btn-outline-info"><i class="bi bi-plus"></i><span class="text-center">Realizar Orçamento</span></a>
    </div>
<hr class="text-danger opacity-50">
</div>

<div class="container" style="height: 100vh;"></div>
