@model OrcamentoModel



<div class="container">

    <header class="container d-flex justify-content-center align-tems-center my-3">
        <h2 class="text-danger opacity-50">Seu orçameto:</h2>
    </header>
    <div class="list-group">
        <div class="col-6 list-group-item mb-2 mx-auto d-flex justify-content-between align-tems-center">
            <b class="lead">Seu orçamento informado:</b> R$@Model.ValorDesejado,00
        </div>
        <div class="col-6 list-group-item mb-2 mx-auto d-flex justify-content-between align-tems-center">
            <b class="lead">Quantidade de Convidados:</b> @Model.NumConvidados convidados
        </div>
        <div class="col-6 list-group-item mb-2 mx-auto d-flex justify-content-between align-tems-center">
            <b class="lead">Quantos você ainda pode gastar:</b> R$@Model.Sobra,00
        </div>
        <div class="text-bg-dark bg-opacity-75 col-6 list-group-item mb-2 mx-auto d-flex justify-content-between align-tems-center">
            <b class="text-light lead">Valor final do orçamento:</b> <span class="lead h3">R$@Model.ValorOrcamento,00</span>
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-center align-tems-center">
        <a asp-action="Cadastrar" class="btn btn-sm btn-outline-info"><i class="bi bi-plus"></i><span class="text-center">Novo Orçamento</span></a>
    </div>
    <hr>
</div>