@model LoginViewModel

@* <h1 class="display-4">Página Pública</h1>
    <hr>
    <p class="lead">
    Qualquer usuário tem autorização para ver essa página.
    </p> *@

<div class="container">
    <div class="cards-container">
        <div class="card col-12 col-lg-4">
        <div class="container text-center p-3 text-danger opacity-25">Fornecedores</div>
            <div class="elms-animation">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
            </div>
            <img src="https://images.unsplash.com/photo-1607861884586-c7cfaed16290?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2FzYW1lbnRvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="" />
            <div class="content">
                <button type="button" class="btn btn-primary">Acessar</button>
            </div>
        </div>
        <div class="card col-12 col-lg-4">
        <div class="container text-center p-3 text-danger opacity-25">Calculadora</div>
            <div class="elms-animation">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
            </div>
            <img src="https://images.unsplash.com/photo-1567051181435-c9c9647c9cd4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" />
            <div class="content">
                <button type="button" class="btn btn-primary">Acessar</button>
            </div>
        </div>
        <div class="card col-12 col-lg-4">
        <div class="container text-center p-3 text-danger opacity-25">Presentes</div>
            <div class="elms-animation">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
            </div>
            <img src="https://images.unsplash.com/photo-1414609245224-afa02bfb3fda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG5hdHVyZXxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60" alt="" />
            <div class="content">
                <button type="button" class="btn btn-primary">Acessar</button>
            </div>
        </div>
    </div>
</div>
