@model LoginViewModel

@* <h1 class="display-4">Página Pública</h1>
    <hr>
    <p class="lead">
    Qualquer usuário tem autorização para ver essa página.
    </p> *@

<div class="container">
    <div class="cards-container">
    <div class="card">
    <div class="elms-animation">
    <span class="one"></span>
    <span class="two"></span>
    <span class="three"></span>
    <span class="four"></span>
    </div>
    <img src="https://images.unsplash.com/photo-1647036003499-94eebb3388c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0M3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt=""/>
    <div class="content">
    <button>Discover</button>
    </div>
    </div>
    <div class="card">
    <div class="elms-animation">
    <span class="one"></span>
    <span class="two"></span>
    <span class="three"></span>
    <span class="four"></span>
    </div>
    <img src="https://images.unsplash.com/photo-1586348943529-beaae6c28db9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt=""/>
    <div class="content">
    <button>Discover</button>
    </div>
    </div>
    <div class="card">
    <div class="elms-animation">
    <span class="one"></span>
    <span class="two"></span>
    <span class="three"></span>
    <span class="four"></span>
    </div>
    <img src="https://images.unsplash.com/photo-1414609245224-afa02bfb3fda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG5hdHVyZXxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60" alt=""/>
    <div class="content">
    <button>Discover</button>
    </div>
    </div>
    </div>
    </div>


@* <div class="container">
    <div class="card bg-dark">
        <div class="face face1">
            <div class="content">
                <i class="fab fa-windows"></i>
                <h3>Windows</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
                <a href="#" type="button">Read More</a>
            </div>
        </div>
    </div>

    <div class="card bg-dark">
        <div class="face face1">
            <div class="content">
                <i class="fab fa-android"></i>
                <h3>Android</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
                <a href="#" type="button">Read More</a>
            </div>
        </div>
    </div>


    <div class="card bg-dark">
        <div class="face face1">
            <div class="content">
                <i class="fab fa-apple"></i>
                <h3>Apple</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
                <a href="#" type="button">Read More</a>
            </div>
        </div>
    </div> *@






</div>