@model UsuarioModel

<div class="container p-3" style="height: 100vh">
    <h2 class="text-danger">Exclusão de Usuário</h2>
    <hr>
    <p class="lead"><b>Código</b>: @Model.IdUsuario</p>
    <p class="lead"><b>Nome</b>: @Model.Nome</p>
    <h3 class="col-4 lead text-bg-danger">Deseja realmente excluir o Usuario <span class="text-info">@Model.Nome?</span></h3>
    <form asp-action="ProcessarExclusao" method="post">
        <input type="hidden" asp-for="@Model.IdUsuario">
        <p>
            <a asp-action="Index" class="btn btn-sm btn-secondary">Não</a>
            <input type="submit" class="btn btn-sm btn-danger" value="Confirmar Exclusão">
        </p>
    </form>
</div>
